/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

button:hover {
  background-color: #0056b3;
}

#youtube-player {
  margin: 20px auto;
  max-width: 800px;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio for 16:9 */
  margin: 20px 0; /* Add some space around the iframe */
  background: #000; /* Optional: Add a background to indicate loading area */
  border-radius: 8px; /* Optional: Rounded corners */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.start-screen, .game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-screen button {
  margin-top: 10px;
}

footer {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
